{% extends "base.html" %}

{% block title %}Tutor Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header">
                <h5>{{ tutor.name }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Subjects: {{ tutor.subjects }}</p>
                <h6>Schedule</h6>
                <ul class="list-group">
                    {% for slot in tutor.schedule %}
                    <li class="list-group-item">{{ slot }}</li>
                    {% endfor %}
                </ul>
                <form class="mt-3" method="POST" action="/add_schedule/{{ tutor_id }}">
                    <div class="input-group">
                        <input type="text" class="form-control" name="time_slot" placeholder="Add new time slot">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>Your Students</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for student_id, student in student_list.items() %}
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h6>{{ student.name }}</h6>
                                <a href="/class/{{ tutor_id }}" class="btn btn-sm btn-success">Start Class</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}